<?xml version="1.0"?>
<Configurations>
   <TestDomain>abc
	  <item name="awsLambda">
		<url>etmrgdayei.execute-api.us-west-2.amazonaws.com/prod/RestApiTestSameerManager/</url>
		<protocol>https</protocol>
		<port>443</port>
		<serviceType>rest</serviceType>
	  </item>
      <item name="cricketApi">
		<url>cricapi.com/</url>
		<protocol>http</protocol>
		<port>80</port>
		<serviceType>rest</serviceType>
		<apiKey>4PZAAziw57TcqpxfnMGQf3UV2Fp2</apiKey>
	  </item>
      <item name="stackoverflow">
		<url>stackoverflow.com/</url>
		<protocol>http</protocol>
		<port>80</port>
		<serviceType>rest</serviceType>
		<username>XXXXXXXX</username>
		<password>XXXXXXXX</password>
	  </item>
   </TestDomain>
</Configurations>